<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" type="text/css" href="contact.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <h1>My Contact List</h1>
        <ol>
            <% for (let i of contact_list) { %>
                <li id="mycontact-list">        
                    <input type="checkbox" class="toggle">            
                    <div class="name-container">
                        
                        <p><%= i.name %></p>
                        <a href="/delete_contact/?id=<%= i.id%>"><i class="fas fa-times-circle"></i></a>                      
                    </div>
                    <div class="phone-container">
                        <p><%= i.phoneNo %></p>
                    </div>                    
                </li>
            <% } %>
        </ol>

        <div class="adding_contact">
            <a href="#contact-form" id="form-appear">
                <button type="button" id="add">Add Contact</button>
            </a>
                <form action="/new_contact" method="POST" id="contact-form">
                    <!-- for closing the form -->
                    <label id="close"><a href="#"><i class="fas fa-times"></i></a></label><br/>
                    <!-- fields of the form -->
                    <label>Name</label>
                    <input name="name" placeholder="Enter Name" required> <br/>
                    <label>Phone No. </label>
                    <input name="phoneNo" placeholder="Enter phone number"> <br/>
                    <!-- submit button -->
                    <button type="submit" id="submit_info">Create Contact</button>
                    <!-- reset button -->
                    <button type="reset" id="reset-btn">Reset</button>
                </form>
        </div>
        
    </body>
</html>